node_modules/*
node_modules
./node_modules
node_modules/
node_modules\
*.zip
*.tgz
*.gz
*.DS_Store
**.DS_Store
*._.DS_Store
package-lock.json
./package-lock.json
*.sh
port.txt
jenkin.sh
port.txt
yarn.lock
.env
nlf.env
public/assets/app/custom/general/crud/metronic-datatable/advanced/record-selection-videos.js
.env
.env
