<div class="">
    <div class="">Hi
        <%=response.name %>,</div>
    <div class="">
        <p>Thank you for contacting with us.</p>
    </div>
    <div class="">Here's reply from admin:
        <br>
        <br>
        <strong>
            <i>
                <%=response.reply_message %>
            </i>
        </strong>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class=""><%= site_name %></div>
</div>