<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class="">Please enter the below OTP to login verification
        <p style="color: rgb(46, 12, 19)">
            <strong><%= otp %></strong>
        </p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br> <%= PROJECTNAME %></div>
</div>