<div class="">
    <div class="">Hello <%= user_name %>,</div>
    <div class=""><p><%= message %></p></div>
    <div class=""><p>Thank You,</p></div>
    <div class=""><p><%= site_name %></p></div>
</div>